@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    @apply text-sm;
    @apply bg-white;
    @apply dark:bg-black;
}

@layer utilities {
    .gstc,
    .gstc__list,
    .gstc__chart,
    .gstc__list-column-header-content,
    .gstc__chart-calendar,
    .gstc__chart-calendar div {
        @apply dark:bg-black dark:text-white;
    }
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

[data-amplify-authenticator] [data-amplify-router] {
    border: solid 1px #e3e5e8;
    border-radius: 20px;
}
.amplify-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.amplify-tabs__list
    .amplify-tabs__list--top
    .amplify-tabs__list--equal {
    border-radius: 20px;
}
.amplify-tabs__list--equal {
    width: 80%;
    border-top: none;
}
.amplify-tabs__panel--active {
    width: 95%;
}
.amplify-tabs__item {
    border-top: none;
    border-bottom: 1px solid #c1c0c0d9;
}
.amplify-tabs__item--active {
    border-top: none;
    border-bottom: 1px solid #047d95;
}
.amplify-label {
    font-weight: 600;
    color: #047d95;
}
